<navbar></navbar>
<header>
</header>
<main>
  <div class="container">
    <h1>Dashboard</h1>

    <div>
        <div>
          <h2>Accessories</h2>
        </div>
        
        <div>
          <h2>Platforms</h2>
        </div>

        <div>
          <h2>Plugins</h2>
          <div>
            <alert>Upgrades Available</alert>
            <span><a href="#">Upgrade All</a></span>
          </div>
          <div class="plugins row">

            <div ng-repeat="(pluginName, plugin) in vm.installed" ng-init="parent=$parent" class="plugin panel panel-default col-lg-3 panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">{{pluginName}}</h3>
              </div>

              <div class="panel-body">
                <p>{{plugin.description}}</p>
                <span>v{{plugin.version}}</span> - 
                <span ng-hide="!parent.vm.outdated">
                  Loading...
                </span>
                <span ng-show='parent.vm.outdated[pluginName]'>
                  <strong><a href="#">upgrade</a></strong>
                </span>
                | <a ui-sref="forms({name: pluginName})">configure</a>
              </div>
            </div>

          </div>
        </div>
    </div>

    <div>
      {{vm.outdated}}
    </div>

    <div>
      <h2>Lodash</h2>
      {{vm.outdated["lodash"]}}
    </div>

    <div>
        <h2>Events</h2>
        <ul>
          <li><span>Frontdoor unlocked @ <span class="datetime">10/31/2016 12:28PM</span></span></li>
          <li><span style="color: red">Homebridge crashed...</span> - <span class="datetime">10/31/2016 12:28PM</span></li>
        </ul>
    </div>

    <div>
        <h2>Homebridge Status</h2>
        <ul>
          <li>Homebridge - <span style="color: green">Running</span> <a href="#">restart</a></li>
          <li>HomebridgeUI - <span style="color: green">Running</span> <a href="#">restart</a></li>
        </ul>
    </div>

    <div>
        <h2>Logs</h2>
        <textarea style="background-color: #fff; width: 500px; height: 200px; overflow: scroll;">
          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...
          
        </textarea>
    </div>
  </div>
</main>
