<navbar></navbar>
<header>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-toggle").dropdown();
    });
  </script>
</header>
<main>
  <div class="container">
    <h1>Dashboard</h1>

    <div>
        <div>
          <h2>Accessories</h2>
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
        
        <div>
          <h2>Platforms</h2>
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>

        <div>
          <h2>Plugins</h2>

          <div class="alert alert-warning" role="alert" ng-show='vm.outdated | hasHomebridgePluginName'>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span class="sr-only">Warn: </span>
              Upgrades Available
            </span>

            <button href="#" type="button" class="btn btn-default btn-primary">
              <span class="glyphicon glyphicon-refresh"></span> Upgrade All
            </button>
          </div>

          <div class="plugins row">
            <div ng-repeat="(pluginName, plugin) in vm.installed" class="col-lg-4">
              <div class="panel panel-default" ng-class="(vm.outdated[pluginName] && vm.outdatedLoaded) ? 'panel-warning' : (!vm.outdated[pluginName] && vm.outdatedLoaded ? 'panel-success' : 'panel-info')">
                <div class="panel-heading">
                  <h3 class="panel-title">{{pluginName}}</h3>

                  <span class="label label-info" ng-show="vm.outdated | isEmpty">
                    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                    <span class="sr-only">Loading...</span>
                    <span>v{{plugin.version}}</span>
                  </span>

                  <span class="" ng-show='vm.outdated[pluginName] && vm.outdatedLoaded'>
                    <button type="button" ng-click="vm.updatePlugin(pluginName)" class="btn btn-default btn-xs btn-warning" >
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Upgrade</span>
                      <span>v{{plugin.version}}</span>
                    </button>
                  </span>

                  <span class="label label-success" ng-show='!vm.outdated[pluginName] && vm.outdatedLoaded'>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only">Up to Date</span>
                    <span>v{{plugin.version}}</span>
                  </span>
                </div>

                <div class="panel-body">
                  <p>{{plugin.description}}</p>
                  
                  <button type="button" class="btn btn-default btn-primary" ng-click="vm.forms({name: pluginName})">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configure
                  </button>

                  <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Actions
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                      <li><a href="#"><span class="glyphicon glyphicon-flash"></span> Error Logs</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" ng-click="vm.removePlugin(pluginName)"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>

    <div>
        <h2>Events</h2>
        <ul>
          <li><span>Frontdoor unlocked @ <span class="datetime">10/31/2016 12:28PM</span></span></li>
          <li><span style="color: red">Homebridge crashed...</span> - <span class="datetime">10/31/2016 12:28PM</span></li>
        </ul>
    </div>

    <div>
        <h2>Metal</h2>
          <div class="alert alert-success" role="alert">
            Homebridge
            <span class="glyphicon glyphicon-ok"></span>
            <span class="sr-only">Running</span>

            <div class="btn-group" uib-dropdown>
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Actions
              </button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="#"><span class="glyphicon glyphicon-flash"></span> Error Logs</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-refresh"></span> Restart</a></li>
              </ul>
            </div>
          </div>

          <div class="alert alert-success" role="alert">
            HomebridgeUI
            <span class="glyphicon glyphicon-ok"></span>
            <span class="sr-only">Running</span>

            <div class="btn-group" uib-dropdown>
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Actions
              </button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="#"><span class="glyphicon glyphicon-flash"></span> Error Logs</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-refresh"></span> Restart</a></li>
              </ul>
            </div>
          </div>
    </div>

    <div>
        <h2>Logs</h2>
        <textarea style="background-color: #fff; width: 500px; height: 200px; overflow: scroll;">
          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...
          
        </textarea>
    </div>
  </div>
</main>
