<navbar></navbar>
<header>
</header>
<main>
  <div class="container">
    <h1>Dashboard</h1>

    <div>
        <div>
          <h2>Accessories</h2>
        </div>
        
        <div>
          <h2>Platforms</h2>
        </div>

        <div>
          <h2>Plugins</h2>
          <div>
            <alert>Upgrades Available</alert>
            <span><a href="#">Upgrade All</a></span>
          </div>
          <div class="plugins row">

            <div ng-repeat="(pluginName, plugin) in vm.installed" class="plugin panel panel-default col-lg-3"n g-class="(vm.outdated[pluginName] && vm.outdatedLoaded) ? 'panel-warning' : 'panel-success'">
              <div class="panel-heading">
                <h3 class="panel-title">{{pluginName}}</h3>
              </div>

              <div class="panel-body">
                <p>{{plugin.description}}</p>
                <span>v{{plugin.version}}</span> - 
                <div ng-show="vm.outdated | isEmpty" class="alert alert-info" role="alert">
                  <span>Loading...</span>
                </div>
                <div ng-show='vm.outdated[pluginName] && vm.outdatedLoaded' class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <a href="#">Upgrade</a>
                </div>
                <div ng-show='!vm.outdated[pluginName] && vm.outdatedLoaded' class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only">OK:</span>
                  <span>
                    Up to Date
                  </span>
                </div>
                <button type="button" class="btn btn-default btn-primary" ng-click="forms({name: pluginName})">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Configure
                </button>
              </div>
            </div>

          </div>
        </div>
    </div>

    <div>
        <h2>Events</h2>
        <ul>
          <li><span>Frontdoor unlocked @ <span class="datetime">10/31/2016 12:28PM</span></span></li>
          <li><span style="color: red">Homebridge crashed...</span> - <span class="datetime">10/31/2016 12:28PM</span></li>
        </ul>
    </div>

    <div>
        <h2>Homebridge Status</h2>
        <ul>
          <li>Homebridge - <span style="color: green">Running</span> <a href="#">restart</a></li>
          <li>HomebridgeUI - <span style="color: green">Running</span> <a href="#">restart</a></li>
        </ul>
    </div>

    <div>
        <h2>Logs</h2>
        <textarea style="background-color: #fff; width: 500px; height: 200px; overflow: scroll;">
          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...

          Bullshit...
          
        </textarea>
    </div>
  </div>
</main>
